# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

#Python Code
wordgame.py
words.txt

# Virtual environments
.venv/
env/
venv/
genai-env/
genai-clean/
ouk-ai/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/

# Logs
*.log

